.creature-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}

.drag-handle {
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  min-width: 32px;
  height: 100%;
}

.creature-form {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: flex-end;
}